<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  
  <title style="font-family:verdana;">WebApp Loan Approve</title>
  <link rel="stylesheet"  href= "app.css">
</head>

<style>
  body {
    text-align: center; 
    background-color:lightblue;
    }
    
  .myDiv {
      text-align: center;
    }
</style>

<body>
  <h1 style="font-family:Arial;">Loan Approve Predictions </h1>
  <img src="LoanApprove.jpg" alt="Loan Approve">
  <br><br>

  <div class="img"></div>
    <form class="form" action="{{ url_for('predict')}}"method="post">
        <div class="myDiv">
          <label for="gender" style="font-family:verdana;">Gender:</label>
          <select id="gender" name="gender" required="required" style="font-family:verdana; width:250px">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <br>
        <div>  
          <label for="married" style="font-family:verdana;">Married:</label>
          <select id="married" name="married" required="required" style="font-family:verdana; width:250px">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
        <br>
        <div>
          <label for="dependents" style="font-family:verdana;">Dependents:</label>
          <select id="dependents" name="dependents" required="required" style="font-family:verdana; width:250px">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3+">3+</option>
          </select>
        </div>
        <br>
        <div>
          <label for="education" style="font-family:verdana;">Education:</label>
          <select id="education" name="education" required="required" style="font-family:verdana; width:250px">
            <option value="graduated">Graduated</option>
            <option value="not graduated">Not Graduated</option>
          </select>
        </div>
        <br>
        <div>
          <label for="selfemployed" style="font-family:verdana;">Self Employed:</label>
          <select id="selfemployed" name="selfemployed" required="required" style="font-family:verdana; width:250px">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
        <br>
        <div>
          <label for="credithistory" style="font-family:verdana;">Credit History:</label>
          <select id="credithistory" name="credithistory" required="required" style="font-family:verdana; width:250px">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
        <br>
        <div>  
          <label for="propertyarea" style="font-family:verdana;">Property Area:</label>
          <select id="propertyarea" name="propertyarea" required="required" style="font-family:verdana; width:250px">
            <option value="urban">Urban</option>
            <option value="semiurban">Semiurban</option>
            <option value="rural">Rural</option>
          </select>
        </div>
        
        <br><br>
        <p style="font-family:verdana;">Application Income: <input type="number" name="applicantincome" placeholder="Aplicant Income" required="required" /></p>
        <p style="font-family:verdana;">Co Application Income: <input type="number" name="coapplicantincome" placeholder="Coaplicant Income" required="required" /></p>
        <p style="font-family:verdana;">Loan Amount:<input type="number" name="loanammount" placeholder="Loan Ammount" required="required" /></p>
        <p style="font-family:verdana;">Loan Amount Term:<input type="number" name="loanammountterm" placeholder="Loan Ammount Term" required="required" /></p>
        <br><br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
          
    </form>

    <br>
    <br>
    <h1 style="font-family:verdana; color:blue">{{ output }}</h1>

<br><br>
<p style="font-family:Arial; font-size:85%;"><b>Credits: </b>
  <br><br>
Leandro Benetton</p>
<a style="font-family:Arial; font-size:85%;" href="https://www.linkedin.com/in/leandrobenetton/">LinkedIn</a>
<a style="font-family:Arial; font-size:85%;" href="https://github.com/lbenetton">   GitHub</a>

</body>
</html>

